<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>grs</title>
</head>
<body>
    <!-- list of complaint domains -->
    <div>
        <h1>Assign Faculty</h1>
        <form action="admin/assign-fac" method="POST">
            <div>
                <label for="complaintId">Academics</label>
                <input type="text" name="complaintId" id="complaintId" value="AC" disabled>
            </div>
            <div>
                <label for="facId">Faculty ID</label>
                <select name="faculty" id="">
                    <option value="1">Faculty 1</option>
                    <option value="2">Faculty 2</option>
                    <option value="3">Faculty 3</option>
                    <option value="4">Faculty 4</option>
                    <option value="5">Faculty 5</option>
                </select>
            </div>
            <div>
                <button type="submit">Assign</button>
            </div>
        </form>
        <hr>
        <form action="admin/assign-fac" method="POST">
            <div>
                <label for="complaintId">Library</label>
                <input type="text" name="complaintId" id="complaintId" value="LIB" disabled>
            </div>
            <div>
                <label for="facId">Faculty ID</label>
                <select name="faculty" id="">
                    <option value="1">Faculty 1</option>
                    <option value="2">Faculty 2</option>
                    <option value="3">Faculty 3</option>
                    <option value="4">Faculty 4</option>
                    <option value="5">Faculty 5</option>
                </select>
            </div>
            <div>
                <button type="submit">Assign</button>
            </div>
        </form>
        <hr>
        <form action="admin/assign-fac" method="POST">
            <div>
                <label for="complaintId">Misconduct</label>
                <input type="text" name="complaintId" id="complaintId" value="MSCON" disabled>
            </div>
            <div>
                <label for="facId">Faculty ID</label>
                <select name="faculty" id="">
                    <option value="1">Faculty 1</option>
                    <option value="2">Faculty 2</option>
                    <option value="3">Faculty 3</option>
                    <option value="4">Faculty 4</option>
                    <option value="5">Faculty 5</option>
                </select>
            </div>
            <div>
                <button type="submit">Assign</button>
            </div>
        </form>
        <hr>
        <form action="admin/assign-fac" method="POST">
            <div>
                <label for="complaintId">Maintenance</label>
                <input type="text" name="complaintId" id="complaintId" value="MT" disabled>
            </div>
            <div>
                <label for="facId">Faculty ID</label>
                <select name="faculty" id="">
                    <option value="1">Faculty 1</option>
                    <option value="2">Faculty 2</option>
                    <option value="3">Faculty 3</option>
                    <option value="4">Faculty 4</option>
                    <option value="5">Faculty 5</option>
                </select>
            </div>
            <div>
                <button type="submit">Assign</button>
            </div>
        </form>
        <hr>
        <form action="admin/assign-fac" method="POST">
            <div>
                <label for="complaintId">Ragging</label>
                <input type="text" name="complaintId" id="complaintId" value="RAG" disabled>
            </div>
            <div>
                <label for="facId">Faculty ID</label>
                <select name="faculty" id="">
                    <option value="1">Faculty 1</option>
                    <option value="2">Faculty 2</option>
                    <option value="3">Faculty 3</option>
                    <option value="4">Faculty 4</option>
                    <option value="5">Faculty 5</option>
                </select>
            </div>
            <div>
                <button type="submit">Assign</button>
            </div>
        </form>
        <hr>
        <form action="admin/assign-fac" method="POST">
            <div>
                <label for="complaintId">Training and Placement</label>
                <input type="text" name="complaintId" id="complaintId" value="TNP" disabled>
            </div>
            <div>
                <label for="facId">Faculty ID</label>
                <select name="faculty" id="">
                    <option value="1">Faculty 1</option>
                    <option value="2">Faculty 2</option>
                    <option value="3">Faculty 3</option>
                    <option value="4">Faculty 4</option>
                    <option value="5">Faculty 5</option>
                </select>
            </div>
            <div>
                <button type="submit">Assign</button>
            </div>
        </form>
        <hr>
        <form action="admin/assign-fac" method="POST">
            <div>
                <label for="complaintId">Other</label>
                <input type="text" name="complaintId" id="complaintId" value="OTH" disabled>
            </div>
            <div>
                <label for="facId">Faculty ID</label>
                <select name="faculty" id="">
                    <option value="1">Faculty 1</option>
                    <option value="2">Faculty 2</option>
                    <option value="3">Faculty 3</option>
                    <option value="4">Faculty 4</option>
                    <option value="5">Faculty 5</option>
                </select>
            </div>
            <div>
                <button type="submit">Assign</button>
            </div>
        </form>
    </div>
</body>
</html>